
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Basic Page Needs
  ================================================== -->
    <title>Home | Flow</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content=" HTML5 Template - v1.0">
    <meta name="author" content="">
    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--All Css-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/icon-font.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
    <!--Revolution slider-->
    <link rel="stylesheet" href="assets/css/settings.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/dynamic-captions.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/static-captions.css" type="text/css" />
    <!--Owl Carousel-->
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/owl.theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/owl.transitions.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/sp-flickr-gallery.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/odometer-theme-minimal.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--Jquery-->
    <script src="assets/js/jQuery.js" type="text/javascript"></script>
</head>

<body>
    <div class="body-innerwrapper">
        <!--Top Contact info-->
        <section id="sp-top-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 top-base no-padding">
                        <div class="col-sm-6 top-block">
                            <p><i class="fa fa-map-marker"><i class="hidden">address</i></i>lagos, Nigeria.     </p>
                        </div>
                        <div class="col-sm-6 top-block text-right">
                            <ul class="social-icons">
                                <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Top bar-->
        <section id="sp-top-bar">
            <div class="container">
                <div class="row">
                    <div id="sp-logo" class="col-sm-3 col-md-3">
                        <a class="logo" href="/"><h1><img class="sp-default-logo" src="assets/images/logo.png" alt="Transpro"></h1></a>
                    </div>
                    <div id="sp-top2" class="col-sm-9 col-md-9 hidden-xs">
                        <ul class="sp-contact-info">
                            <li class="sp-contact-time"><i class="ti-timer"></i>
                                <p class="contact-content"> <span class="contact-title">Contact Time:</span> <span class="time">Mon-Sat: 9.00-18.00</span></p>
                            </li>
                            <li class="sp-contact-phone"><i class="icon-call-in"></i>
                                <p class="contact-content"> <span class="contact-title">Phone Number:</span> <span>08012345678</span></p>
                            </li>
                            <li class="sp-contact-email"><i class="icon-envelope-letter"></i>
                                <p class="contact-content"> <span class="contact-title">Contact Mail:</span> <span>info@flow.com</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--header-->
        <header id="sp-header">
            <div class="container">
                <div class="row">
                    <div id="sp-menu" class="col-sm-12 col-md-12">
                        <div class="sp-column ">
                            <div class='sp-megamenu-wrapper'>
                                <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                                <ul class="sp-megamenu-parent menu-fade-up hidden-xs">
                                    <li class="sp-menu-item active"><a href="index.html">Home</a></li>
                                    <li class="sp-menu-item"><a href="#">services</a></li>
                                    <li class="sp-menu-item"><a href="#">about</a></li>
                                    <li class="sp-menu-item"><a href="#">news</a></li>
                                    <li class="sp-menu-item"><a href="#">Contact</a></li>
                                    
                                </ul>
                                <a target="_parent" href="/shipping/login" class="sppb-btn sppb-btn-default pull-right sppb-btn-">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Banner-->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:550px;">
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:550px;height:550px;">
                            <ul>
                                <!-- SLIDE  1-->
                                <li data-transition="slideoverright" data-slotamount="7" data-masterspeed="300" data-thumb="assets/images/slider_1.jpg" data-saveperformance="off" data-title="Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/slider_1.jpg" alt="portfolio-6-1140x760" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption large_bold_black sft tp-resizeme" data-x="88" data-y="100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Welcome to
                                    </div>
                                    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption smalltext sfr tp-resizeme" data-x="88" data-y="170" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Flow
                                    </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption medium_text sfr tp-resizeme" data-x="88" data-y="280" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Safe a Secure Transport
                                    </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption medium_text sfb tp-resizeme" data-x="88" data-y="380" data-speed="300" data-start="500" data-easing="Sine.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='sppb-btn sppb-btn-default sppb-btn-'>Get a Quote</a>
                                    </div>
                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption medium_text sfb tp-resizeme" data-x="244" data-y="380" data-speed="300" data-start="500" data-easing="Sine.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='sppb-btn sppb-btn-primary sppb-btn-'>Read more</a>
                                    </div>
                                </li>
                                <!-- SLIDE  2-->
                                <li data-transition="slideoverright" data-slotamount="7" data-masterspeed="300" data-thumb="assets/images/slide01.jpg" data-saveperformance="off" data-title="Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/slide01.jpg" alt="fullscreen3" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption large_bold_black sft tp-resizeme" data-x="88" data-y="100" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We Believe in
                                    </div>
                                    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption smalltext sfr tp-resizeme" data-x="88" data-y="160" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Fast Transport
                                    </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption medium_text sfr tp-resizeme" data-x="88" data-y="280" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Track your goods as they move
                                    </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption medium_text sfb tp-resizeme" data-x="88" data-y="380" data-speed="300" data-start="500" data-easing="Sine.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='sppb-btn sppb-btn-default sppb-btn-'>Get a Quote</a>
                                    </div>
                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption medium_text sfb tp-resizeme" data-x="244" data-y="380" data-speed="300" data-start="500" data-easing="Sine.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='sppb-btn sppb-btn-primary sppb-btn-'>Read more</a>
                                    </div>
                                </li>
                          
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                        
                    </div>
                    <!-- END REVOLUTION SLIDER -->
                </div>
            </div>
        </section>
        <!--Action-->
        <section class="action">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 action-block">
                        <h2 class="title">do you need to send your product with care?</h2>
                    </div>
                    <div class="col-sm-3 action-block text-right">
                        <a target="_parent" href="#" class="sppb-btn sppb-btn-default sppb-btn-">contact us</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Services-->
        <section id="services" class="space bg">
            <div class="container">
                <div class="row">
                    <div class="service-block col-sm-4">
                        <div class="inner">
                            <div class="service-image">
                                <img class="img-responsive" src="assets/images/featured-services-02.jpg" alt="service">
                                <a href="#" class="hover center"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="service-text">
                                <a href="#" target="_parent">
                                    <h3 class="title">wooden work</h3>
                                </a>
                                
                                <a target="_parent" href="single-services.html" class="simple">Read More<i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block col-sm-4">
                        <div class="inner">
                            <div class="service-image">
                                <img class="img-responsive" src="assets/images/storage-1.jpg" alt="service">
                                <a href="#" class="hover center"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="service-text">
                                <a href="#" target="_parent">
                                    <h3 class="title">safe storage</h3>
                                </a>
                                
                                <a target="_parent" href="single-services.html" class="simple">Read More<i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block col-sm-4">
                        <div class="inner">
                            <div class="service-image">
                                <img class="img-responsive" src="assets/images/img03.jpg" alt="service">
                                <a href="#" class="hover center"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="service-text">
                                <a href="#" target="_parent">
                                    <h3 class="title">fast transport</h3>
                                </a>
                                
                                <a target="_parent" href="single-services.html" class="simple">Read More<i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 service-block">
                        <div class="inner col-sm-12 no-padding">
                            <div class="col-sm-6 service-image no-padding">
                                <img src="assets/images/warehouse-management-system-wms.jpg" alt="Services">
                            </div>
                            <div class="col-sm-6 service-text">
                                <h3>trusted since 2018</h3>
                                <p>Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies.Curabitura iaculis diam. </p>
                                <br />
                                <p>Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies</p>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--offer-->
        <section id="offer" class="space">
            <div class="container">
                <!--main-heading-->
                <div class="col-sm-12 no-padding main-heading text-center">
                    <h2 class="title">what we offer</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4 offer-block">
                        <div class="offer-icon">
                            <i class="ti-truck"></i>
                        </div>
                        <div class="offer-text">
                            <h4>ground cargo</h4>
                            <p>Integer adipiscing erat eget risus sollici pellentesque et non erata adipiscing erat eget risus sollici pellentes.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 offer-block">
                        <div class="offer-icon">
                            <i class="icon-plane"></i>
                        </div>
                        <div class="offer-text">
                            <h4>air frieght</h4>
                            <p>Integer adipiscing erat eget risus sollici pellentesque et non erata adipiscing erat eget risus sollici pellentes.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 offer-block">
                        <div class="offer-icon">
                            <i class="icon-social-dropbox"></i>
                        </div>
                        <div class="offer-text">
                            <h4>product packaging</h4>
                            <p>Integer adipiscing erat eget risus sollici pellentesque et non erata adipiscing erat eget risus sollici pellentes.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 offer-block">
                        <div class="offer-icon">
                            <i class="icon-grid"></i>
                        </div>
                        <div class="offer-text">
                            <h4>warehousing service</h4>
                            <p>Integer adipiscing erat eget risus sollici pellentesque et non erata adipiscing erat eget risus sollici pellentes.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 offer-block">
                        <div class="offer-icon">
                            <i class="icon-calculator"></i>
                        </div>
                        <div class="offer-text">
                            <h4>lowest pricing</h4>
                            <p>Integer adipiscing erat eget risus sollici pellentesque et non erata adipiscing erat eget risus sollici pellentes.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 offer-block">
                        <div class="offer-icon">
                            <i class="icon-globe"></i>
                        </div>
                        <div class="offer-text">
                            <h4>supply chain management </h4>
                            <p>Integer adipiscing erat eget risus sollici pellentesque et non erata adipiscing erat eget risus sollici pellentes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--counter-->
        <section id="counter" class="space blue-overlay parallax1">
            <div class="container">
                <div class="row">
                    <div class="counter-heading col-sm-7">
                        <div class="heading">
                            <h2 class="title">We offer the best engineers adn builders
                                <span>to make your dream home.</span></h2>
                        </div>
                        <div class="counter-base col-sm-12 no-padding">
                            <div class="col-sm-4 counter-block" data-count="351">
                                <div class="odometer">0</div>
                                <h3>Project finished</h3>
                            </div>
                            <div class="col-sm-4 counter-block" data-count="34">
                                <div class="odometer">0</div>
                                <h3>Trophy achived</h3>
                            </div>
                            <div class="col-sm-4 counter-block" data-count="679">
                                <div class="odometer">0</div>
                                <h3>Expert workers</h3>
                            </div>
                        </div>
                    </div>
                    <div class="counter col-sm-5">
                        <img class="img-responsive" src="assets/images/truck_green.png" alt="Counter">
                    </div>
                </div>
            </div>
        </section>
        <!--History-->
        <!--footer copyrights-->
        <footer id="sp-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>Designed &amp; Developed By Flow</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Side Menu-->
        <div class="offcanvas-menu">
            <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
            <div class="offcanvas-inner">
                <div class="sp-module ">
                    <h3 class="sp-module-title">Side Bar</h3>
                    <div class="sp-module-content">
                        <ul class="nav menu">
                            <li class="item-101 active"><a href="index.html">Home</a></li>
                            <li class="item-165"><a href="services.html">services</a></li>
                            <li class="item-166"><a href="about.html">about</a></li>
                            <li class="item-166 deeper parent"><a href="blog-without-sidebar.html">News</a>
                                <ul class="nav-child unstyled small ">
                                    <li class="sp-menu-item"><a href="blog-without-sidebar.html">Blog without sidebar</a></li>
                                    <li class="sp-menu-item"><a href="blog-left-sidebar.html">Blog With Left Sidebar</a></li>
                                    <li class="sp-menu-item"><a href="blog-right-sidebar.html">Blog With Right Sidebar</a></li>
                                    <li class="sp-menu-item"><a href="single-blog.html">Single Blog</a></li>
                                </ul>
                            </li>
                            <li class="item-110"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-social">
                    <h3 class="sp-module-title">Social Links</h3>
                    <div class="top-block text-right">
                        <ul class="social-icons text-left">
                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--All Script-->
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/appear.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
    <script src="assets/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
    <script src="assets/js/smoothscroll.js" type="text/javascript"></script>
    <script src="assets/js/owl.carousel.js" type="text/javascript"></script>
    <script src="assets/js/sp-flickr-gallery.js" type="text/javascript"></script>
    <script src="assets/js/odometer.min.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>

</html>
